body{
  font-family: 'Raleway', sans-serif !important;
}

button{
  margin: 2px !important;
}

table, th, td {
  border: 1px solid #dddddd !important;
}

table {
  border-collapse: collapse;
}

custom-table.tr {
  padding: 10px !important;
}

tr:nth-child(even) {
  background-color: #dddddd;
}